.logo {
    font-family:$poppins;
    font-size:$font-size-xx-large;
    color:$swamp;
  }
  .logo_superindice {
    font-family:$poppins;
    font-size:$font-size-x-small;
    vertical-align:super;
  }
